body {
    background-color: #1d1d1d;
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.quote {
    display: inline-block;
    width: 40rem;
    text-align: right;
}

#signature {
    font-size: 3rem;
}

#hint {
    font-family: "Times New Roman", serif;
    font-size: 1.3rem;
    color: #7a7a7a;
    text-align: right;
}