body {
    background-color: #1d1d1d;
    color: white;
    font-family: serif;
    font-size: 4rem;
    text-align: center;
}

.content {
    height: calc(100vh - 240px);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.quote {
    font-family: 'Italianno', cursive;
    display: inline-block;
    width: 40rem;
    text-align: right;
}

.buh {
    cursor: pointer;
}

#signature {
    font-size: 3rem;
}

.hint {
    font-size: 1.3rem;
    color: #7a7a7a;
    text-align: right;
}

footer {
    font-size: 1.5rem;
    height: 100px;
    color: #7a7a7a;
    display: flex;
    justify-content: center;
}

footer span {
    align-self: flex-end;
}

footer span a {
    color: #7a7a7a;
}

#spreadsheet {
    margin-left: 2rem;
}

@media (max-device-width: 420px) {
    body {
        font-size: 5rem;
    }

    .main {
        display: block;
        margin-top: 8rem;
        text-align: center;
    }

    .quote, .hint{
        text-align: center;
    }

    #signature {
        text-align: right;
    }

    footer {
        font-size: 2rem;
        flex-direction: column;
    }

    footer span {
        align-self: center;
    }
}